---
import Layout from '../layouts/Layout.astro'
---

<Layout title="About">
  <main class="main container">
    <h1>ABOUT PAGE</h1>
  </main>

  <script is:inline slot="script" src="/js/about/index.js"></script>
</Layout>


<style>
  h1 {
    color: darkgreen;
  }
</style>