---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Contact">
  <main class="main container">
    <h1>CONTACT PAGE</h1>
  </main>

  <script is:inline slot="script" src="/js/contact/index.js"></script>
</Layout>


<style>
  h1 {
    color: blueviolet;
  }
</style>