---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Home">
  <main class="main container">
    <h1>HOME PAGE</h1>
  </main>


  <script is:inline slot="script" src="/js/index.js"></script>
</Layout>


<style>
  h1 {
    color: steelblue;
  }
</style>